<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/cabecalho">
<meta charset="ISO-8859-1">
<title>Página Principal do Sistema de Horário</title>
</head>
<body>
<!-- Importa o menu padrao do sistema -->
<div th:insert="layout/menu"></div>
<div class="container">
	<form class="form-horizontal" method="POST" style="margin: 10px">
		<h2>Principal</h2>
	</form>
</div>

	<!-- Importa o rodape padrão do sistema -->
	<div th:insert="layout/rodape"></div>
</body>
</html>